















.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display:block;
}
.header__navbar-item__navbar-item--has-notify: hover .header__notify {
   display:  block;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1,4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item
.header__navbar-item-link



























































































{
    background-color: var(--white-color)
    cursor: :default;
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list {
    padding-left: 0;
}
